<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /3030-dashboard/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_URI} !\.(js|css|png|jpg|gif|woff|svg|json)$
  RewriteRule . /3030-dashboard/index.html [L]
</IfModule>
